/* IMPORTING FONTS */
@font-face {
  font-family: Lato-Regular;
  src: url("../assets/fonts/Lato-Regular.ttf");
}

@font-face {
  font-family: Lato-Bold;
  src: url("../assets/fonts/Lato-Bold.ttf");
}

body {
  width: 100%;
  min-height: 100vh;
}

.contact-app {
  width: 100%;
  height: 100vh;
  display: flex;
  font-family: Lato-Regular;
  background-color: var(--color-contacts);
}

/* STYLES FOR FORM */
.contact-app__form-container {
  flex-basis: 25%;
  background-color: green;
  height: 100vh;
}

.contact-app__form {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--color-form);
}

.form__logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 10%;
}

.form__input-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-small);
  padding: var(--spacing-medium);
  flex-grow: 1;
}

.form__input {
  width: 100%;
  height: 32px;
  padding: 0 var(--spacing-small);
  font-family: inherit;
}

.form__address-input {
  resize: none;
  padding: var(--spacing-small);
  font-family: inherit;
}

.form__submit-button {
  height: 32px;
  cursor: pointer;
  font-family: inherit;
  background-color: var(--color-add-button);
  color: var(--text-color);
  border: none;
  border-radius: var(--border-radius-small);
}

.form__submit-button:hover {
  opacity: 0.9;
}

/* STYLES FOR THE DISPLAY SECTION*/
.contact-app__display-contacts {
  flex-basis: 75%;
  display: flex;
  flex-direction: column;
  background-color: rgb(27, 27, 117);
}

/* STYLES FOR THE SEARCH */
.search {
  display: flex;
  align-items: center;
  gap: var(--spacing-small);
  flex-basis: 10%;
  padding: 0 var(--spacing-small);
  background-color: var(--color-contacts);
}

.search__input,
.search__filter {
  min-width: 160px;
  height: 32px;
  font-family: inherit;
  padding: 0 var(--spacing-small);
}

/* STYLES FOT THE CONTACT LIST DISPLAY */
.contacts {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-small);
  background-color: var(--color-contacts);
  padding: var(--spacing-medium);
}

.contacts__header,
.contacts-item {
  display: flex;
  width: 100%;
  padding: var(--spacing-small) 0;
  background-color: var(--color-header);
  font-family: Lato-Bold;
  border-radius: var(--border-radius-small);
}

.contacts__header span {
  padding: var(--spacing-small);
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacts__header span:not(:last-child) {
  border-right: 1px solid black;
}

.contacts__header-list-number {
  flex-basis: 5%;
}

.contacts__header-fullname {
  flex-basis: 30%;
}

.contacts__header-phone {
  flex-basis: 20%
}

.contacts__header-adress {
  flex-basis: 30%;
}

.contacts__header-controls {
  flex-basis: 15%;
}

/* STYLES FOR DYNAMICALLY CREATED CONTACTS */
.contacts-item {
  display: flex;
  background-color: var(--color-form);
  border-bottom: 1px solid black;
  font-family: Lato_Regular;
}

.contacts-item span {
  display: flex;
  padding-left: var(--spacing-small);
  align-items: center;
  word-break: break-word;
}

.contacts-item span:not(:last-child) {
  border-right: 1px solid black;
}

.contacts-item__list-number {
  flex-basis: 5%;
}

.contacts-item__fullname {
  flex-basis: 30%;
}

.contacts-item__phone {
  flex-basis: 20%;
}

.contacts-item__address {
  flex-basis: 30%;
}

.contacts-item__controls {
  flex-basis: 15%;
  display: flex;
  justify-content: center;
  gap: var(--spacing-small);
}

.contacts-item__controls button {
  width: 32px;
  height: auto;
  cursor: pointer;
  padding: var(--spacing-x-small) 0;
}